*{
    text-decoration: none;
}

.nav-header{
    margin-bottom: 50px;
    display: block;

}

.nav-header a:hover{
    background-color: chartreuse;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    border: solid 2px black;
    padding: 10px;
}